.infoTorneos{
    margin-top: 80px;
}

.nav-link{
    background-color: #099067 !important;
    color: white;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

.nav-link:focus{
    background-color: #75ddab !important;
    color: black !important;
}


.contenedorEquipos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 60px;
}

.cardContainerEquipos{
    margin: 15px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: #00b388;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.2);
}

.headerEquipos{
    padding: 20px;
    text-align: center;
}

.headerEquipos .imagenEquipo{
    margin-top: -55px;
    position: relative;
    display: block;
}

.headerEquipos img{    
    background-color: white;
    margin: auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 5px #00b388;
    transition: .1s;
}

.headerEquipos .imagenEquipo:hover img{
    box-shadow: 0 0 0 8px rgb(122, 122, 122);
}

.headerEquipos h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 26px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.headerEquipos .enlaceEquipo{
    font-size: 15px;
    background-color: #099067;
    color: white;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
}
